* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.visor {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
}

html {
	margin: 0;
	padding: 0 0 10px 0;
}

html,
body,
#nomes {
	padding: 0;
	background-color: #a7c957;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

a,
button {
	background-color: #386641;
	display: inline-flex;
	text-decoration: none;
	color: #f2e8cf;
	border-radius: 30px;
	height: 22dvw;
	width: 22dvw;
	border: 0;
	justify-content: center;
	align-items: center;
	padding: 0;
	font-size: clamp(12px, 12vw, 60px);
	cursor: pointer;
}

#campos div,
#anterior div {
	font-size: 25vw;
	color: #bc4749;
	background-color: #f2e8cf;
	height: 20dvh;
	border: 0;
	border-radius: 30px;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#anterior div {
	height: 13dvh;
	width: 25%;
	font-size: 15vw;
	opacity: 0.6;
}

#anterior {
	width: 100dvw;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

form {
	padding: 0;
}

.linha {
	display: flex;
	justify-content: space-around;
	gap: 15px;
}

.pagina {
	display: flex;
	flex-direction: column;
	height: 100dvh;
	width: 100dvw;
	justify-content: space-between;
}

#resultados {
	align-items: center;
}

.pagina h1 {
	color: #f2e8cf;
	background-color: #6a994e;
	padding: 20px;
	font-size: 9vw;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100dvw;
}

label,
h2 {
	color: #386641;
	font-weight: 1000;
	font-size: 10vw;
	display: block;
	margin: 0.2em;
}

p {
	display: block;
	width: fit-content;
	color: #386641;
	font-weight: 1000;
	font-size: 7vw;
	display: block;
}

.confirm {
	display: flex;
	justify-content: space-around;
	margin: 8vw;
}

table {
	width: 80%;
	background-color: #f2e8cf;
	padding: 0px;
	text-align: center;
	margin: 0;
	border-radius: 30px;
	border-spacing: 0px;
	border: #386641 0px solid;
}

th,
td {
	padding: 3vw;
	color: #386641;
	font-size: 7vw;
	text-align: center;
	border-color: #6a994e;
	border: #6a994e solid;
	border-width: 5px 0px 0px 0px;
	border-spacing: 0px;
	border-radius: 0px;
}

th {
	background-color: #6a994e;
	color: #f2e8cf;
	border-radius: 0;
}

#thnomes {
	border-radius: 30px 0px 0px 0px;
}

#thvalores {
	border-radius: 0px 30px 0px 0px;
}

.interactive {
	margin: auto 0;
	text-align: center;
}

body > div {
	margin: 0;
	border: 0;
	padding: 0;
}

.botaoComposto {
	display: flex;
	justify-content: start;
	flex-direction: column;
	align-items: center;
	margin: 0;
	gap: 20px;
	width: 24dvw;
}

#calculadora,
#confirmar,
#resultados {
	display: none;
}

.botoes {
	display: flex;
	justify-content: space-evenly;
	width: 100dvw;
}

#campoNome {
	padding: 10px 10px;
	width: 80%;
	font-size: 10vw;
	color: #bc4749;
	background-color: #f2e8cf;
	min-height: 20dvh;
	border: 0;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

div:has(h1),
#nomes {
	padding-top: 80px;
}

#resultados .botaoComposto button {
	font-size: 7vw;
	width: 20vw;
	height: 20vw;
}

#resultados .botaoComposto p {
	font-size: 6vw;
}

table.escondido .quantidadeCafe {
	display: none;
}

.botaoComposto#mudarPreco {
	display: none;
}

.desfazer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 10px;
	margin: 10px 0;
}

.desfazer button {
	height: 100%;
	width: 20dvw;
	border-radius: 15px;
	font-size: 30px;
}

#confirmar {
	align-items: center;
}

#campos {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.campo {
	overflow: scroll;
}

#teclado {
	display: flex;
	justify-content: space-evenly;
	height: 60%;
}

#numeros {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#calculadora {
	justify-content: end;
	gap: 20px;
}
